@import url('https://fonts.googleapis.com/css?family=Cambay:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700|Roboto+Slab&display=swap:100,200,300,400,500,600,700');
/*fonts
font-family: 'Indie Flower', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Cambay', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/*NavBar*/
.nav-styling {
     background-color: rgba(78, 59, 90, 0.507);
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
   padding: 0;
   margin: 0;
}

.brand-styling { 
    font-family: 'Indie Flower', cursive;
    color:rgb(240, 166, 230);
   padding-left: 10px;
   padding-right: 10px;
   font-size: 55px;
   font-weight: 500;
   text-shadow:
		-1px -1px 0 grey,
		1px -1px 0 grey,
		-1px 1px 0 grey,
		1px 1px 0 grey;
  }

.brand-styling:hover {
    
    color: grey;
    text-shadow:
		-1px -1px 0 rgb(240, 166, 230),
		1px -1px 0 rgb(240, 166, 230),
		-1px 1px 0 rgb(240, 166, 230),
		1px 1px 0 rgb(240, 166, 230);
    
}



.nav-item {
    padding-left: 75px;
    }

.nav-link-style {
     background-color: rgba(78, 59, 90, 0.507);
    height: 42px; 
    width: 88px;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: rgb(240, 166, 230);
    border: solid rgb(240, 166, 230) 2px
}

.nav-link-style:hover {

    background-color: rgb(240, 166, 230);
    color: grey;
    border: solid grey 2px;
}
/*NavBar*/

/*Home*/
.home-background {

   height: 100vh; 
    background: url(../images/background.jpg) no-repeat bottom left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  
  }
/*Home*/