@import url('https://fonts.googleapis.com/css?family=Cambay:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700|Roboto+Slab&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap:100,200,300,400,500,600,700');
/*fonts
font-family: 'Indie Flower', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Cambay', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Permanent Marker', cursive;
*/

/*NavBar*/
.navbar {
    padding: 0;
    margin: 0;
}

.nav-styling {
     background-color: rgba(78, 59, 90, 0.507);
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
   padding: 0px;
   margin: 0;
   transition: all 0.25s ease-in-out;
}

.brand-styling { 
    font-family: 'Indie Flower', cursive;
    color: black;
   padding-left: 25px;
   padding-right: 10px;
   font-size: 55px;
   font-weight: 500;
   text-shadow:
		-1px -1px 0 ,
		1px -1px 0 grey,
		-1px 1px 0 grey,
		1px 1px 0 grey;
  }

.brand-styling:hover {
    
    color: grey;
    text-shadow:
		-1px -1px 0 rgb(240, 166, 230),
		1px -1px 0 rgb(240, 166, 230),
		-1px 1px 0 rgb(240, 166, 230),
		1px 1px 0 rgb(240, 166, 230);
    
}



.nav-item {
    padding-left: 75px;
    
    }

.nav-link-style {
     background-color: rgba(78, 59, 90, 0.507);
    height: 42px; 
    width: 88px;
    padding-bottom: 3px;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: rgb(240, 166, 230);
    border: solid rgb(240, 166, 230) 2px;
    transition: all 0.28s ease-in-out;
}



.nav-link-style:hover {

    background-color: rgb(240, 166, 230);
    color: grey;
    border: solid grey 2px;
}

.navbar .navbar-toggler {
    border: 0;
    padding: 0;
    margin-right: 30px;
    margin-top: 10px;
    color: grey;
    height: 30px;
    width: 30px;
}
/*NavBar*/

/*Home*/
.home-background {

   height: 100vh; 
    background: url(../images/background.jpg) no-repeat bottom left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  
  }
/*Home*/


/*media querys*/
@media (max-width: 800px) {
  .nav-item {
    padding-left: 20px;
    }
    .nav-styling {
     background-color: rgb(105, 78, 102);
    padding: 0px;
    margin: 0px;
}

.brand-background {
    text-align: center; 
}

}
/*media querys*/

/*jumbotron*/
.jumbotron {
    background-color: transparent;
    text-align: center;
    margin-top: 50px;
}

.overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,0.8)
}

.jumbotron-header {
   font-family: 'Indie Flower', cursive;
    font-weight: 400;
    font-size: 100px;
    margin-right: 20px; 
    padding: 10px;
    color:  rgb(240, 166, 230);
     text-shadow:
		-1px -1px 0 rgb(0, 0, 0),
		1px -1px 0 rgb(0, 0, 0),
		-1px 1px 0 rgb(0, 0, 0),
		1px 1px 0 rgb(0, 0, 0);
}

.jumbotron-sub {
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
    margin-right: 20px;
    color: rgb(143, 64, 132);
        text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		1px -1px 0 rgb(255, 255, 255),
		-1px 1px 0 rgb(255, 255, 255),
		1px 1px 0 rgb(255, 255, 255);
}
/*jumbotron*/


/*icons/buttons/ect*/

/*icons/buttons/ect*/

/*Social*/
.social-row {
    text-align: center;
}


/*Social*/